html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, optgroup, button, input, select, textarea,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol:not([type]), ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Typography Constants*/
p img {
  margin: 0; }

strong, b, dt {
  font-weight: bold; }

em, i {
  font-style: italic; }

small {
  font-size: 80%; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

/*Custom Additions*/
/* Prevent font scaling in landscape */
html {
  -webkit-text-size-adjust: none; }

button {
  text-transform: inherit; }

/*Fluid Images*/
img {
  max-width: 100%; }

/*IE Link Outlines*/
a {
  outline: none; }

a:focus {
  outline: thin dotted; }

/*Hide Table Captions*/
table caption {
  text-align: left;
  position: absolute;
  left: -9999em; }

/*Accessibility*/
.hidden {
  position: absolute;
  left: -9999em; }

* {
  box-sizing: border-box; }

a:-webkit-any-link {
  text-decoration: none; }

.container-fluid {
  width: 100%;
  display: block; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

[class*="col-"] {
  float: left; }

html {
  height: 100%;
  min-height: 100%; }

body {
  height: 100%;
  min-height: 100%; }

.row::after {
  content: "";
  clear: both;
  display: table; }

/*Mobile*/
@media only screen and (min-width: 320px) {
  .col-s-0-5 {
    width: 4.165%; }

  .col-s-1 {
    width: 8.33%; }

  .col-s-1-5 {
    width: 12.495%; }

  .col-s-2 {
    width: 16.66%; }

  .col-s-3 {
    width: 25%; }

  .col-s-4 {
    width: 33.33%; }

  .col-s-5 {
    width: 41.66%; }

  .col-s-6 {
    width: 50%; }

  .col-s-7 {
    width: 58.33%; }

  .col-s-8 {
    width: 66.66%; }

  .col-s-9 {
    width: 75%; }

  .col-s-10 {
    width: 83.33%; }

  .col-s-11 {
    width: 91.66%; }

  .col-s-12 {
    width: 100%; } }
/*Tablet*/
@media only screen and (min-width: 728px) {
  .col-m-0-5 {
    width: 4.165%; }

  .col-m-1 {
    width: 8.33%; }

  .col-m-1-5 {
    width: 12.495%; }

  .col-m-2 {
    width: 16.66%; }

  .col-m-3 {
    width: 25%; }

  .col-m-4 {
    width: 33.33%; }

  .col-m-5 {
    width: 41.66%; }

  .col-m-6 {
    width: 50%; }

  .col-m-7 {
    width: 58.33%; }

  .col-m-8 {
    width: 66.66%; }

  .col-m-9 {
    width: 75%; }

  .col-m-10 {
    width: 83.33%; }

  .col-m-11 {
    width: 91.66%; }

  .col-m-12 {
    width: 100%; } }
/*Laptop*/
@media only screen and (min-width: 1280px) {
  .col-l-0-5 {
    width: 4.165%; }

  .col-l-1 {
    width: 8.33%; }

  .col-l-1-5 {
    width: 12.495%; }

  .col-l-2 {
    width: 16.66%; }

  .col-l-3 {
    width: 25%; }

  .col-l-4 {
    width: 33.33%; }

  .col-l-5 {
    width: 41.66%; }

  .col-l-6 {
    width: 50%; }

  .col-l-7 {
    width: 58.33%; }

  .col-l-8 {
    width: 66.66%; }

  .col-l-9 {
    width: 75%; }

  .col-l-10 {
    width: 83.33%; }

  .col-l-11 {
    width: 91.66%; }

  .col-l-12 {
    width: 100%; } }
/*Desktop*/
@media only screen and (min-width: 1366px) {
  .col-sd-0-5 {
    width: 4.165%; }

  .col-sd-1 {
    width: 8.33%; }

  .col-sd-1-5 {
    width: 12.495%; }

  .col-sd-2 {
    width: 16.66%; }

  .col-sd-3 {
    width: 25%; }

  .col-sd-4 {
    width: 33.33%; }

  .col-sd-5 {
    width: 41.66%; }

  .col-sd-6 {
    width: 50%; }

  .col-sd-7 {
    width: 58.33%; }

  .col-sd-8 {
    width: 66.66%; }

  .col-sd-9 {
    width: 75%; }

  .col-sd-10 {
    width: 83.33%; }

  .col-sd-11 {
    width: 91.66%; }

  .col-sd-12 {
    width: 100%; } }
/*Large Desktop*/
@media only screen and (min-width: 1550px) {
  .col-0-5 {
    width: 4.165%; }

  .col-1 {
    width: 8.33%; }

  .col-1-5 {
    width: 12.495%; }

  .col-2 {
    width: 16.66%; }

  .col-3 {
    width: 25%; }

  .col-4 {
    width: 33.33%; }

  .col-5 {
    width: 41.66%; }

  .col-6 {
    width: 50%; }

  .col-7 {
    width: 58.33%; }

  .col-8 {
    width: 66.66%; }

  .col-9 {
    width: 75%; }

  .col-10 {
    width: 83.33%; }

  .col-11 {
    width: 91.66%; }

  .col-12 {
    width: 100%; } }
/*# sourceMappingURL=column.css.map */
header {
  width: 100%;
  height: 96px;
  border-bottom: 4px solid silver; }

footer {
  width: 100%;
  height: 256px;
  background-color: #034385; }

main {
  width: 100%;
  height: auto; }

section {
  width: 100%;
  height: 960px;
  background-color: #FFF; }
  section.alpha {
    background-color: #eaba4b; }
  section.charlie {
    background-color: #ea6b4b; }

/*# sourceMappingURL=stylesheet.css.map */
